body{
    background-color: pink;
}
.row{
    display: flex;
}
.gridelement{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    color: white;
    border-radius: 20px;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Protest Strike", sans-serif;
    transition-duration: 0.5s;
}
.gridelement:hover{
    background-color: seagreen;
    cursor: pointer;
}
h1{
    font-size: 5rem;
    font-weight: 500;
    font-family: "Honk", system-ui;
}
h1:hover{
    cursor: pointer;
}
#grid-container{
    border-radius: 20px;
    border: 5px solid saddlebrown;
}
.container{
    align-items: center;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#result{
    margin: 40px;
    color: white;
    height: 100px;
    width: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 3rem;
}
#reset{
    width: 200px;
    height: 90px;
    background-color: darkblue;
    color: white;
    font-family: "Honk", system-ui;
    font-size: 30px;
    font-weight: 400;
    border-radius: 10px;
    transition-duration: 0.5s;
}
#reset:hover{
    font-weight: 700;
    background-color: greenyellow;
    cursor: pointer;
}